body {
    font: 16px/22px Georgia, serif;
    background: url(img/vzor.png);
    padding-top: 80px;
    padding-left: 200px;
}

h1 {
    display: block;
    width: 346px;
    height: 367px;
    font: 0/0 serif;
    background: url(img/logo.png);
    float: left;
}

#content {
    width: 400px;
    margin-left: 385px;
    margin-top: 112px;
}

ul#links {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#links li:before {
    content: "– ";
}

a, a:visited {
    color: maroon;
}

address {
    margin-top: 22px;
}
